body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, nav, main, footer {
    margin: auto;
    width: 80%;
    max-width: 960px;
}

header {
    background: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    background: white;
    padding: 20px;
    margin-top: 20px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.profile-photo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-photo img {
    width: 150px; /* or any size you prefer */
    height: auto;
    border-radius: 50%; /* Optional: if you want a circular profile picture */
}

